/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #63b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(95, 175, 175);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Heading Styles */
.heading {
    margin-bottom: 40px;
    font-size: 27px;
    color: #333;
}

/* Form Styles */
.form {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input::placeholder {
    color: #aaa;
}

/* Button Styles */
.btn1, .btn2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s;
}

.btn1:hover {
    background-color: #45a049;
}

.btn2 {
    background-color: #f44336;
}

.btn2:hover {
    background-color: #e53935;
}

/* Result Styles */
#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
